<!-- Agregar el script de jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="card border rounded shadow">
    <h2>Detalles del Pedido</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="width: 550px;">
      <label>Calle</label>
      <input type="text" class="form-control form-control-lg" formControlName="calle" />
    </div>
    <div class="form-group">
      <label>Altura</label>
      <input type="number" class="form-control" formControlName="altura" />
    </div>
    <div class="form-group">
      <label>Ciudad</label>
      <select class="form-control" formControlName="ciudad">
        <option value="">Seleccionar ciudad</option>
        <option value="Córdoba">Córdoba</option>
        <option value="Villa María">Villa María</option>
        <option value="Río Cuarto">Río Cuarto</option>
      </select>
    </div>
    <div class="form-group" style="width: 550px;">
      <label>Referencia (opcional)</label>
      <input type="text" class="form-control form-control-lg" formControlName="referencia" />
    </div>
    <div class="form-group">
      <label>Forma de pago</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="formaPago"
          value="efectivo"
          formControlName="formaPago"
          (change)="onFormaPagoChange()"
        />
        <label class="form-check-label">Efectivo</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="formaPago"
          value="tarjeta"
          formControlName="formaPago"
          (change)="onFormaPagoChange()"
        />
        <label class="form-check-label">Tarjeta</label>
      </div>
    </div>
    <div *ngIf="formaPago === 'efectivo'">
      <div class="form-group">
        <label>Monto</label>
        <input type="number" class="form-control" formControlName="monto" required/>
      </div>
    </div>
    <div *ngIf="formaPago === 'tarjeta'">
      <div class="form-group">
        <label>Número de tarjeta</label>
        <input type="number" class="form-control" formControlName="numeroTarjeta"/>
      </div>
      <div *ngIf="myForm.controls.numeroTarjeta.errors?.pattern">
        Por favor, ingrese un número de tarjeta Visa válido.
      </div>
      <div class="form-group">
        <label>Nombre y apellido titular</label>
        <input type="text" class="form-control" formControlName="nombreApellidoTitular" required />
      </div>
      <div class="form-group">
        <label>Fecha de vencimiento</label>
        <input type="text" min="05/23" max="12-2030" step="1" class="form-control" formControlName="fechaVencimiento" required />
      </div>
      <div *ngIf="myForm.controls.fechaVencimiento.errors?.pattern">
        Por favor, ingrese una fecha de vencimiento válida.
      </div>
      <div class="form-group">
        <label>CVC</label>
        <input type="number" maxlength="3" class="form-control" formControlName="cvc" required/>
      </div>
      <div *ngIf="myForm.controls.cvc.errors?.pattern">
        Por favor, ingrese un CVC válido.
      </div>
    </div>
    <div class="form-group">
      <label>Entrega</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="entrega"
          value="programada"
          formControlName="entrega"
        />
        <label class="form-check-label">En cierta fecha y hora</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="entrega"
          value="inmediata"
          formControlName="entrega"
        />
        <label class="form-check-label">Lo antes posible</label>
      </div>
    </div>
    <div *ngIf="myForm.get('entrega').value === 'programada'">
        <div class="form-group">
          <label>Fecha de entrega</label>
          <input type="date" class="form-control" formControlName="fechaEntrega" required />
        </div>
        <div class="form-group">
          <label>Hora de entrega</label>
          <input type="text" class="form-control" formControlName="horaEntrega" required />
        </div>
      </div>
      <button *ngIf="myForm.valid" type="button" class="btn btn-primary" style="width: 550px;"  data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmar</button>
    </form>
    <div class="back-to-shop" routerLink="/comerciosAdheridos" role="button">
      <span class="text-muted" role="button" routerLink="/locales">Cancelar</span>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pedido confirmado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¡Gracias por tu pedido! Será procesado a la brevedad.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>